# Copyright 2024 Paion Data. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
name: Immutable Infrastructure as a Service CI/CD

"on":
  pull_request:
  push:
    branches:
      - master

jobs:
  cancel-previous:
    name: Cancel Previous Runs In Order to Allocate Action Resources Immediately for Current Run
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous
        uses: styfle/cancel-workflow-action@0.10.1
        if: ${{github.ref != 'refs/head/master'}}
        with:
          access_token: ${{ github.token }}

  yml-md-style-and-link-checks:
    uses: paion-data/github-actions-core/.github/workflows/yml-md-style-and-link-checks.yml@master

  docker-image:
    name: Publish docker images for "Packer Image Build Test"
    needs: yml-md-style-and-link-checks
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        docker: [
          {dockerfile-path: tests/machine-learning, image-name: iiaas-machine-learning-test},
          {dockerfile-path: tests/react, image-name: iiaas-react-test},
          {dockerfile-path: tests/kong-api-gateway, image-name: iiaas-kong-api-gateway-test},
          {dockerfile-path: tests/webservice, image-name: iiaas-webservice-test},
          {dockerfile-path: tests/elk, image-name: iiaas-elk-test}
        ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: paiondata
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push image to DockerHub
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.docker.dockerfile-path }}
          push: true
          tags: paiondata/${{ matrix.docker.image-name }}:latest

  tests:
    name: Image Build Test
    needs: docker-image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test-directory: [
          tests/machine-learning/images,
          # tests/react/images,
          tests/kong-api-gateway/images,
          tests/webservice/images,
          tests/elk/images,
        ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker for AMI Tests
        uses: docker-practice/actions-setup-docker@master
      - run: |
          cd ${{ matrix.test-directory }}
          ./run-tests.sh

  list-screwdriver-templates:
    name: Listing Screwdriver Templates to Validate
    needs: yml-md-style-and-link-checks
    runs-on: ubuntu-latest
    outputs:
      paths: ${{ steps.list-screwdriver-templates.outputs.paths }}
    steps:
      - name: List Files
        id: list-screwdriver-templates
        uses: mirko-felice/list-files-action@v3.0.5
        with:
          repo: ${{ github.repository }}
          ref: ${{ github.ref }}
          path: "adaptors/screwdriver-cd/templates"
          ext: ".yaml"

  validate-screwdriver-templates:
    name: Validating Screwdriver Templates
    needs: list-screwdriver-templates
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        template: ${{ fromJson(needs.list-screwdriver-templates.outputs.paths) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Validate ${{ matrix.template }}
        uses: satackey/action-js-inline@v0.0.2
        with:
          required-packages: js-yaml screwdriver-data-schema
          script: |
            // Running screwdriver-template-main's template-validate CMD won't work because it's a over-the-wire
            // validation against SD API which requires token authentication... (can't believe this)
            //
            // The API-based validation, by digging source code, essentially runs the following in API server:
            const error = require("screwdriver-data-schema").config.template.template
              .validate(
                require('js-yaml').load(
                  require("fs").readFileSync("${{ matrix.template }}")
                )
            ).error
            if (error) {
              require('@actions/core').setFailed(error);
            }

  list-screwdriver-command-scripts:
    name: Listing Screwdriver Command Scripts to Test
    needs: yml-md-style-and-link-checks
    runs-on: ubuntu-latest
    outputs:
      paths: ${{ steps.list-screwdriver-command-scripts.outputs.paths }}
    steps:
      - name: List Files
        id: list-screwdriver-command-scripts
        uses: mirko-felice/list-files-action@v3.0.5
        with:
          repo: ${{ github.repository }}
          ref: ${{ github.ref }}
          path: "adaptors/screwdriver-cd/commands"
          ext: ".sh"

  test-screwdriver-command-scripts:
    name: Test All run.sh Scripts
    needs: list-screwdriver-command-scripts
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        script: ${{ fromJson(needs.list-screwdriver-command-scripts.outputs.paths) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: ${{ matrix.test-suite.desc }}
        run: docker run --rm -v $(pwd)/${{ matrix.script }}:/test/script.sh ubuntu /test/script.sh

  list-screwdriver-commands:
    name: Listing Screwdriver Commands to Validate
    needs: yml-md-style-and-link-checks
    runs-on: ubuntu-latest
    outputs:
      paths: ${{ steps.list-screwdriver-commands.outputs.paths }}
    steps:
      - name: List Files
        id: list-screwdriver-commands
        uses: mirko-felice/list-files-action@v3.0.5
        with:
          repo: ${{ github.repository }}
          ref: ${{ github.ref }}
          path: "adaptors/screwdriver-cd/commands"
          ext: ".yaml"

  validate-screwdriver-commands:
    name: Validating Screwdriver Commands
    needs: list-screwdriver-commands
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        template: ${{ fromJson(needs.list-screwdriver-commands.outputs.paths) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Validate ${{ matrix.template }}
        uses: satackey/action-js-inline@v0.0.2
        with:
          required-packages: screwdriver-command-validator
          script: |
            require("screwdriver-command-validator")(require("fs").readFileSync("${{ matrix.template }}"))
              .then(response => {
                if (response.errors.length > 0) {
                  require('@actions/core').setFailed(response.errors);
                }
              })

  documentation-ci-cd:
    name: Test Documentation Build & Deploy Documentation to GitHub Pages
    needs: [tests, validate-screwdriver-templates, validate-screwdriver-commands, test-screwdriver-command-scripts]
    outputs:
      outcome: ${{ job.status }}
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: yarn
        working-directory: docs
      - name: Build website
        run: yarn build
        working-directory: docs
      - name: Load CNAME file
        if: github.ref == 'refs/heads/master'
        run: cp docs/CNAME docs/build
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
          user_name: qing-wq
          user_email: 2702461713@qq.com
